 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Full Page with Colored Div</title>
  <style>
    html, body {
      height: 100%;
      margin: 0;
      background-color: black;
    }

    .box {
      height: 100vh;
      background-color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 24px;
    }
  </style>
</head>
<body>
  <div class="box">
    Yeh div bhi black hai
  </div>
</body>
</html>
