.num {
    font-size: 30px;
    color: aliceblue;
    margin-top: 20px;
}

.input {
    padding: 10px;
    font-size: 18px;
    border: 2px solid #0ff;
    border-radius: 10px;
    background: transparent;
    color: white;
    animation: glow 1s infinite alternate;
    margin-top: 20px;
}

@keyframes glow {
    0% {
        border-color: #0ff;
        box-shadow: 0 0 5px #0ff;
    }

    100% {
        border-color: #0f0;
        box-shadow: 0 0 20px #0f0;
    }
}


.label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

.roll {
    padding: 10px 25px;
    background: #0ff;
    border: none;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 11px;
}


    .col {
      position: absolute;
      white-space: nowrap;
      top: 80%;
      left: 0;
      color: white;
      font-size: 30px;
      animation: move 5s infinite alternate ease-in-out;
    }

    @keyframes move {
      0% {transform: translateX(0%);}
      100% {transform: translateX(calc(100vw - 105%));}
    }

    .check {
      position: absolute;
      white-space: nowrap;
      top: 70%;
      left: 0;
      color: white;
      font-size: 30px;
      animation: move 4s infinite alternate ease-in-out;
    }

    @keyframes move {
      0% {transform: translateX(0%);}
      100% {transform: translateX(calc(100vw - 105%));}
    }

.table {
  width: 90%;
  margin: -18px auto;
  border-collapse: collapse;
  font-size: 18px;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.4);
  background-color: #111;
  color: #0ff;
  animation: glow 1s infinite alternate;
  border-radius: 10px;
  overflow: hidden;
  
}

 .table th, .table td {
  border: 1px solid #0ff;
  padding: 12px 15px;
  text-align: center;
}

.table th {
  background-color: #0ff;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

.table tr:nth-child(even) {
  background-color: rgba(0, 255, 255, 0.1);
}

.table tr:hover {
  background-color: rgba(0, 255, 255, 0.2);
  cursor: pointer;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px #0ff;
  }
  to {
    box-shadow: 0 0 20px #0ff;
  }
} 



 html, body {
      height: 100%;
      margin: 0;
      background-color: black;
    }

    .box {
      height: none;
      background-color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 24px;
    }


